*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

/* start header */

/* start header-heading */

header{
  /* display: flex;
  flex-direction: column; */
  background: url(images/Bg\ Vert.jpg);
  background-size: cover;
  color: #fff;
  height: 50vh;
  font-size: 1.3rem;
}

/* start header-heading */
.header-heading{
   display: flex;
}

.logo{
    display: flex;
    margin-left: 15rem;
}

.logo img{
    width: 6rem;
    height: 6rem;
}

.logo p{
    margin-top: 2rem;
}

.tel_loca{
    margin-top: 2rem;
    display: flex;
    margin-left: 90rem;
   justify-content: space-between;

}

.localisation{
    margin-left: 5rem;
    display: flex;
}

.localisation i{
    padding-right:1rem ;
}


.contact{
    display: flex;
}

.contact i{
    padding-right:1rem ;
}

.divider{
    width: 85%;
    height: .2px;
    background-color: #fff;
    margin-left: 12.5rem;
}

/* end header-heading */


/* start header-sub */

.header-sub{
    display: flex;
   margin: 2rem 17rem 0 17rem;
   justify-content: space-between;
}

.divider2{
    height: .1px;
    width: 2.5%;
    background-color: #fff;
    transform: rotate(90deg);
}

/* end header sub */

/* start header-content */

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    flex-direction: column;
    

}

.header-content h1 {
    margin-bottom: 2rem;
    
}


.header-content button {
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    width: 15rem;
    font-weight: 400;
    color: rgb(18, 76, 163);
    cursor: pointer;

}
/* end header-content */

/* start design-survol */
.design-survol{
    background-color: #fff ;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    height: 13rem;
    width: 80rem;
    margin-top: 2rem;
    margin-left: 35rem;
    color: #444;
    display: flex;
    padding-top: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;

}

.survol{
    background-color: #444;
    width: 5rem;
}

.icon-group1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-group1:hover{
    background-color: rgb(81, 147, 247);
    height: 14rem;
    color: #fff;

}

.icon-group1 i{
    font-size: 3rem;
}

.icon-group1 h1{
    color: rgb(18, 76, 163);

}

/* end design-survol */


/* end header */

/* start content */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15rem;
}

.element {
    display: flex;
    margin-top: 1rem;
}

.choisir {
    color: rgb(18, 76, 163);
    font-size: 2rem;
}
.element p{
    padding: 2rem;
}

.contain{
    background-color: #444 ;
    width: 20rem;
    margin-right: 12rem;
}

/* end content */

/* start section travail */

.travail{
    margin-top: 5rem;
    margin-left: 15rem;
    display: flex;

}
.illustre{
   position: relative;
   width: 50%;
   height: 50rem;
   overflow: hidden;
}

.img1{
    width: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.7;
}

.layer1{
    z-index: 1;
}

.layer2{
    z-index: 2;
    transform: scale(1.1);
}

.layer3{
    opacity: 1;
    z-index: 3;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.travail-text{
    width: 45% ;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;

}


/* end section travail */

/* start a-propos */
.a-propos{
    display: flex;
    justify-content: center;
    background-color: rgb(202, 203, 199);

}
.company h1{
    color: rgb(18, 76, 163);
    font-weight: 900;
    font-size: 2rem;
}

.company p, .container1 p, .container2 p{
    
    font-size: 1.3rem;

}

h4{
    color: rgb(18, 76, 163);
}

.company{
    margin-top: 5rem;
}

.company, .container1, .container2{
    width: 30em;
    margin-bottom: 10rem;
}
.container1{
    margin-left: 5rem;
    margin-right: 5rem;
}

.container1 img, .container2 img{
    width: 15rem;
    height: 10rem;
    margin-top: 5rem;
}

.suivre{
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    border: none;
    background-color: rgb(81, 147, 247);
}

.suivre i{
    color: #fff;
}

/* end a-propos */


/* start footer */

footer{
    background-color: rgb(18, 76, 163);
    height: 20rem;
    display: flex;
    justify-content: center;
    color:#fff;
    
}

.footer-text h1{
    color: #fff;
}

.footer-text, .footer1, .footer2{
    width: 30rem;
    margin-top: 5rem;

}

.footer1{
    margin-left: 5rem;
    margin-right: 5rem;
}

.footer1, .footer2{
    border: 1px solid #fff;
    height: 12rem;
    padding: 1rem;
    position: relative;
    box-sizing: border-box;
}

.footer1 p, .footer2 p{
   margin-top: 1.4rem;
}

h3{
    font-size: 1.6rem;
}

.footer1 i, .footer2 i  {
    top: -0.8rem; 
    position: absolute;
    
  }
 



/* end footer */